# Database (NeonDB)
DATABASE_URL="postgresql://user:pass@ep-xxx.us-east-2.aws.neon.tech/taskflow?sslmode=require"

# JWT
JWT_SECRET="change-me-to-a-random-64-char-string-for-production-use-only"
JWT_EXPIRATION="15m"
REFRESH_TOKEN_EXPIRATION_DAYS=7

# App
PORT=3001
NODE_ENV="development"
CORS_ORIGIN="http://localhost:3000"
